.album-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    padding: 3px 8px;
    border-radius: 8px;
}

.next-carousel-arrow {
    right: -28px;
    top: 50%;
}

.prev-carousel-arrow {
    left: 28px;
    top: 50%;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-legend {
    margin-top: 20px;
    background-color: var(--primary);
    border-radius: 6px;
    width: fit-content;
    padding: 8px 15px;
    font-size: 20px;
}

.warning-missing {
    background-color: rgb(241, 196, 15);
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 20px;
}