.travellist-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px 30px;
    border-radius: 8px;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 80vh;
    overflow: auto;
}

h1.list-title {
    color: var(--primary);
    display: inline;
}

button.button-new {
    background: none;
    color: white;
    background-color: var(--primary);
    border: 0ch;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    margin-top: 15px;
}

.nav-tabs .nav-link.active {
    color: var(--primary);
    border-color: #ffffff #ffffff var(--primary);
}

.nav-link {
    color: black;
}

ul {
    margin-top: 10px;
}

.language-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    border: solid 2px white;
    padding: 8px;
    border-radius: 30px;
}

.travel-text {
    margin-top: 0;
    margin-bottom: 0;
    flex: 0.3;
    color: #0096ff;
    font-weight: 500;
}