:root {
    --primary: rgb(122, 206, 255);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:not(.nav-link):not(.add-to-do-list-btn):not(.btn-danger):not(.btn-secondary):not(.home-button) {
    color: black !important;
    cursor: pointer;
}

button.btn-secondary,
button.btn-danger,
button.home-button {
    color: white !important;
}

.map-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}