div.root-list{
    margin: 5px;
}
h1.list-title{
    color: aquamarine;
    display: inline;
}
button.button-new{
    background: none;
    color:white;
    background-color: blue;
    border: 0ch;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    margin-top: 15px;
    
}
.nav-tabs .nav-link.active {
    color: #0096ff;
    border-color: #ffffff #ffffff #0096ff;
}
.nav-link {
    color: black;
}
ul {
    margin-top: 10px;
}

