.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.sidenav a {
    user-select: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: var(--primary);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.nav>svg {
    color: white;
}

.home-nav-icon {
    width: min-content;
    color: white;
    padding: 10px;
    border-radius: 18px;
}

.back-arrow-unregistered {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.back-arrow-unregistered:hover {
    transform: scale(1.1);
}

.map-icon {
    color: white;
    background-color: var(--primary);
}

.album-icon {
    color: var(--primary);
    background-color: white;
}

.language-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 50px;
    color: white;
}