.todo-detail > svg:first-of-type {
    margin-right: 5px;
}

.todo-detail > svg {
    font-size: 1.3em;
}

.add-list-icon {
    font-size: 4em;
    color: rgb(13, 110, 253, 1);
}

.add-list-input {
    color: rgb(13, 110, 253, 1);
    flex: 0.1;
    margin-bottom: 20px; 
    width: 20%;
    height: 60px;
    transition: left 5s;
}
