.todo-detail>svg:first-of-type {
    margin-right: 5px;
    color: red;
}

.todo-detail>svg {
    font-size: 1.3em;
}

.add-list-icon {
    font-size: 3em;
    color: var(--primary);
}

.add-list-input {
    color: var(--primary);
    flex: 0.1;
    width: auto;
    height: 60px;
    transition: left 5s;
}