.loc-info-container {
    flex: 0.4;
    text-align: center;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.carousel-root {
    width: 100%;
}

.logbook-entry {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    width: 75%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid var(--primary);
    border-radius: 8px;
    padding: 6px 0;
}

.logbook-entry>p {
    margin-bottom: 0 !important;
}