.todo-detail>svg:first-of-type {
    margin-right: 5px;
    color: red;
}

.todo-detail>svg {
    font-size: 1.3em;
    cursor: pointer;
}

.add-list-icon {
    font-size: 3em;
    color: #5352ed;
    cursor: pointer;
}

.add-list-input {
    color: #5352ed;
    flex: 0.1;
    width: auto;
    height: 60px;
    transition: left 5s;
}